<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="LexQuest Auth" />
    <meta name="author" content="LexQuest" />

    <title>LexQuest Password Reset</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
  </head>

  <body role="document">
    <div class="container theme-showcase" role="main">
      {% block content %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      let error_response = function (data) {
        $(".api-response").html(
          "API Response: " +
            data.status +
            " " +
            data.statusText +
            "<br/>Content: " +
            data.responseText
        );
      };
      let success_response = function (data) {
        $(".api-response").html(
          "API Response: OK<br/>Content: " + JSON.stringify(data)
        );
      };

      $().ready(function () {
        $("form.ajax-post button[type=submit]").click(function () {
          var form = $("form.ajax-post");
          $.post(form.attr("action"), form.serialize())
            .fail(function (data) {
              error_response(data);
            })
            .done(function (data) {
              success_response(data);
            });
          return false;
        });
      });
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
